body{
    background: url("bg.png"); 
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
    box-shadow: green 20px 10px 50px;
}
.playAgain {
    background-color: yellowgreen;
    box-shadow: 5px 5px 5px green;
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}